@media (max-width: 900px) {

/* .img-nav {
    margin: 0 auto;
} */

.login-style {
    flex-direction: column;
    align-items: center;
}
        
.form-style {
    width: 80%;
}
        
.imagen-registro {
    display: none;
}
    
    
}
        
    
@media (max-width: 576px) {
    

.inputs {
    width: 100%;
}
        
.form-style {
    width: 90%;
    margin-top: 20px;
}
    
    
}