* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .login-style {
    display: flex;
    justify-content: space-between;
  }
  
  .img-nav {
    display: inline-block;
    margin: 40px;
  }
  
  .datos-usuario {
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  .inputs {
    width: 200px;
    padding: 5px;
    font-size: 10px;
    margin: 10px 0px;
  }
  
  .form-style {
    width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .imagen-registro {
    position: relative;
    width: 65%;
    height: 100vh;
    overflow: hidden;
  }
  
  .imagen-registro img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .btn-registro-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  .btn-registro {
    font-size: 18px;
    height: 45px;
    width: 130px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: rgb(209, 209, 209);
    color: rgb(255, 255, 255);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
  }